body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-color: black;
}
