* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333;
  overflow: hidden;
  height: 100vh;
}

html {
  overflow: hidden;
  height: 100vh;
}

.home {
  background-image: url("images/home.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.contacts {
  background-image: url("images/contacts.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 0;
  margin-top: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 0;
}

section {
  color: rgb(0, 0, 0);
  padding: 2em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

#about,
#members,
#goals,
#stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#about img,
#members img,
#goals img,
#stats img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}


footer {
  text-align: center;
  background: #e0e0e0;
  padding: 1em;
  color: #333;
}

#backToTop {
  position: fixed;
  bottom: 30vh;
  right: 30vw;
  z-index: 999;
  width: 50vw;
  height: 50vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Circle_arrow_up_font_awesome.svg/1024px-Circle_arrow_up_font_awesome.svg.png?20130126203447");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  display: none;
  background-color: transparent;
}

#backToTop:hover img {
  transform: scale(1.1);
}

nav li {
  position: relative;
}

.button-about,
.button-members,
.button-goals,
.button-contacts,
.button-stats {
  position: fixed;
  top: 4.5vh;
  background-color: rgb(250, 0, 0);
  border: none;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
  height: 5vh;
}

.button-about {
  left: 31vw;
  width: 6vw;
}

.button-members {
  left: 38.5vw;
  width: 6vw;
}

.button-goals {
  left: 47vw;
  width: 9vw;
}

.button-stats {
  left: 58.5vw;
  width: 7.5vw;
}

.button-contacts {
  left: 68vw;
  width: 7vw;
}

.back-home {
  position: fixed;
  top: 2vh;
  left: 1vw;
  width: 3vw;
  height: 5vh;
  opacity: 1;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.back-home img {
  width: 3vw;
  height: auto;
}