* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #333;
}

.home {
  background-image: url("https://i.postimg.cc/8PfXfx0b/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5em;
  padding: 0;
  margin-top: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 0;
}

section {
  color: rgb(0, 0, 0);
  padding: 2em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;
}

#about,
#members,
#goals,
#contacts,
#stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#about img,
#members img,
#goals img,
#contacts img,
#stats img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}


footer {
  text-align: center;
  background: #e0e0e0;
  padding: 1em;
  color: #333;
}

#backToTop {
  position: fixed;
  bottom: 30vh;
  right: 30vw;
  z-index: 999;
  width: 50vw;
  height: 50vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Circle_arrow_up_font_awesome.svg/1024px-Circle_arrow_up_font_awesome.svg.png?20130126203447");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  display: none;
  background-color: transparent;
}

#backToTop:hover img {
  transform: scale(1.1);
}

nav li {
  position: relative;
}

.button-about,
.button-members,
.button-goals,
.button-contacts,
.button-stats
 {
  position: fixed;
  width: 7vw;
  height: 5vh;
  background-color: rgb(250, 0, 0);
  border: none;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.back-home {
  position: fixed;
  top: 2vh;
  left: 1vw;
  width: 3vw;
  height: 5vh;
  opacity: 1;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.back-home img {
  width: 3vw;
  height: auto;
}

.button-about {
  top: 4vh;
  left: 26vw;
}

.button-members {
  top: 4vh;
  left: 34vw;
}

.button-goals {
  top: 4vh;
  left: 43.5vw;
}

.button-contacts {
  top: 4vh;
  left: 64vw;
}

.button-stats {
  top: 4vh;
  left: 54vw;
}

button {
  position: absolute;
  width: 150px;
  height: 50px;
  background-color: rgb(250, 0, 0);
  border: none;
  opacity: 0;
  cursor: pointer;
}

.button-1 {
  top: 15px;
  left: 160px;
}

.button-2 {
  top: 15px;
  left: 680px;
}

.button-3 {
  top: 15px;
  left: 1190px;
}

.button-1-1 {
  top: 0vh;
  left: 74.5vw;
  width: 4vw;
  height: 10vh;
  position: fixed;
  z-index: 10;
}

.button-2-1 {
  top: 0vh;
  left: 79.3vw;
  width: 4vw;
  height: 10vh;
  position: fixed;
  z-index: 10;
}

.button-3-1 {
  top: 0vh;
  left: 84vw;
  width: 4vw;
  height: 10vh;
  position: fixed;
  z-index: 10;
}